HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Lucene ###
*.fdt
*.fdx
*.fnm
*.nvd
*.nvm
*.si
*.cfe
*.cfs
*.liv
*_Lucene
*_Lucene*
*segments*

/home/adamscript/tomateto-api/com.adamscript.tomatetoapi.models.entities.Post
/home/adamscript/tomateto-api/com.adamscript.tomatetoapi.models.entities.User